[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"

[packages]
pandas = "*"
seaborn = "*"
numpy = "*"
pyarrow = "*"
dagster = "*"
dagit = "*"
beautifulsoup4 = "*"
dataset = "*"
psycopg2 = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
toolz = "*"
unidecode = "*"
nbstripout = "*"
scikit-learn = "*"
feather-format = "*"
gensim = "*"
spacy = "*"
spacy-lookups-data = "*"
nltk = "*"
dagster-shell = "*"

[requires]
python_version = "3.8"
